.animate__height {
  transition-property: height;
  transition-duration: 0.3s;
  animation-name: fadeInUp;
}

.animate__width {
  transition-property: width;
  animation-name: fadeInLeft;
}

#comp-lio9m6fc {
  background-color: rgb(224, 211, 229) !important;
}
